<!-- banner -->
<div class="banner banner10">
  <div class="container">
    <h2>Hakkımızda</h2>
  </div>
</div>
<!-- //banner -->
<!-- breadcrumbs -->
<div class="breadcrumb_dress">
  <div class="container">
    <ul>
      <li>
        <a routerLink="/"
          ><span class="glyphicon glyphicon-home" aria-hidden="true"></span>
          Anasayfa</a
        >
        <i>/</i>
      </li>
      <li>Hakkımızda</li>
    </ul>
  </div>
</div>
<!-- //breadcrumbs -->
<!-- about -->
<div class="about">
  <div class="container">
    <div class="w3ls_about_grids">
      <div class="col-md-6 w3ls_about_grid_left">
        <p>
          Biz kimiz? Office programları için istediğiniz süre kadar kullanım
          hakkı arıyorsanız, Sevdiğiniz dizileri ve filmleri izlemek için üye
          olacağınız platforma ihtiyacınız doğrultusunda ücret ödemek,
          sevdiğiniz müziklere ulaşmak için ihtiyaçlarınız doğrultusunda
          abonelik sağlamak istiyorsanız göz atmanız gereken bir websitesiyiz.
        </p>
        <div class="col-xs-10 w3ls_about_grid_left2">
          <p>Office Programları</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-10 w3ls_about_grid_left2">
          <p>Eğlence Platformları</p>
        </div>
        <div class="clearfix"></div>
        <div class="col-xs-10 w3ls_about_grid_left2">
          <p>Oyunlar</p>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="col-md-6 w3ls_about_grid_right">
        <img src="assets/images/522.jpg" alt=" " class="img-responsive" />
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //about -->
<!-- team -->
<div class="team">
  <div class="container">
    <h3>Biz Kimiz?</h3>
    <div class="wthree_team_grids">
      <div class="col-md-1 wthree_team_grid"></div>
      <div class="col-md-2 wthree_team_grid">
        <img
          src="assets/images/team/saadet.jpeg"
          alt=" "
          class="img-responsive"
        />
        <h4>Saadet Göçmen</h4>
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 wthree_team_grid">
        <img
          src="assets/images/team/hasancan.jpg"
          alt=" "
          class="img-responsive"
        />
        <h4>Hasan Can Küçük</h4>
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 wthree_team_grid">
        <img src="assets/images/team/t6.png" alt=" " class="img-responsive" />
        <h4>Mirkenan Kazımzade</h4>
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 wthree_team_grid">
        <img src="assets/images/team/akın.jpg" alt=" " class="img-responsive" />
        <h4>Akın Bilgin</h4>
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-2 wthree_team_grid">
        <img src="assets/images/team/t7.png" alt=" " class="img-responsive" />
        <h4>Cahad Farzızade</h4>
        <div class="agileits_social_button">
          <ul>
            <li><a href="#" class="facebook"> </a></li>
            <li><a href="#" class="twitter"> </a></li>
            <li><a href="#" class="google"> </a></li>
            <li><a href="#" class="pinterest"> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-1 wthree_team_grid"></div>

      <div class="clearfix"></div>
      <p>Sizlere kolaylıklar sağlamak için çalışıyoruz.</p>
    </div>
  </div>
</div>
<!-- //team -->
