<!-- newsletter  TODO: deleted haber bulteni-->

<!-- //newsletter -->
<!-- footer -->
<div class="footer">
  <div class="container">
    <div class="w3_footer_grids">
      <div class="col-md-3 w3_footer_grid">
        <h3>İletişim</h3>
        <p>İletişim kanallarımız aracılığı ile bize ulaşın</p>
        <ul class="address">
          <li>
            <i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i>Mersin Üniversitesi<span>Mühendislik
              Fakültesi</span>
            <span>Yenişehir/MERSİN</span>
          </li>
          <li>
            <i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><a href="mailto:info@example.com">
              info@keyshop.com</a>
          </li>
          <li>
            <i class="glyphicon glyphicon-earphone" aria-hidden="true"></i>+1234
            567 567
          </li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Bilgiler</h3>
        <ul class="info">
          <li><a routerLink="/hakkimizda">Hakkımızda</a></li>
          <li><a routerLink="/iletisim">İletişim</a></li>
          <li><a href="products.html">Ürünler</a></li>
        </ul>
      </div>
      <div class="col-md-3 w3_footer_grid">
        <h3>Kategoriler</h3>
        <ul class="info">
          <li><a href="products.html">Office Paketleri</a></li>
          <li><a href="products1.html">Eğlence</a></li>
          <li><a href="products.html">Oyun</a></li>
        </ul>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
  <div class="footer-copy">
    <div class="footer-copy1">
      <div class="footer-copy-pos">
        <a href="#home1" class="scroll"><img src="assets/images/arrow.png" alt=" " class="img-responsive" /></a>
      </div>
    </div>
  </div>
</div>
<!-- //footer -->
<script type="text/javascript">
  $(window).load(function () {
    $("#flexiselDemo2").flexisel({
      visibleItems: 4,
      animationSpeed: 1000,
      autoPlay: true,
      autoPlaySpeed: 3000,
      pauseOnHover: true,
      enableResponsiveBreakpoints: true,
      responsiveBreakpoints: {
        portrait: {
          changePoint: 568,
          visibleItems: 1,
        },
        landscape: {
          changePoint: 667,
          visibleItems: 2,
        },
        tablet: {
          changePoint: 768,
          visibleItems: 3,
        },
      },
    });
  });
</script>
<script>
  w3ls.render();

  w3ls.cart.on("w3sb_checkout", function (evt) {
    var items, len, i;

    if (this.subtotal() > 0) {
      items = this.items();

      for (i = 0, len = items.length; i < len; i++) { }
    }
  });
</script>
<!-- //cart-js -->
