<!-- banner -->
<div class="banner">
  <div class="container">
    <h3>KeyShop</h3>
  </div>
</div>
<!-- //banner -->
<!-- banner-bottom -->
<div class="banner-bottom">
  <div class="container">
    <div class="col-md-7 wthree_banner_bottom">
      <div
        class="bs-example bs-example-tabs"
        role="tabpanel"
        data-example-id="togglable-tabs"
      >
        <ul id="myTab" class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a
              href="#home"
              id="home-tab"
              role="tab"
              data-toggle="tab"
              aria-controls="home"
              >Tümü</a
            >
          </li>
          <li role="presentation" class="active">
            <a
              href="#home"
              id="tab"
              role="tab"
              data-toggle="tab"
              aria-controls="home"
              >Office Paketleri</a
            >
          </li>
          <li role="presentation">
            <a
              href="#audio"
              role="tab"
              id="audio-tab"
              data-toggle="tab"
              aria-controls="audio"
              >Eğlence</a
            >
          </li>
          <li role="presentation">
            <a
              href="#video"
              role="tab"
              id="video-tab"
              data-toggle="tab"
              aria-controls="video"
              >Oyun</a
            >
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<!-- //banner-bottom -->
<!-- new-products -->
<div class="new-products">
  <div class="container">
    <div class="agileinfo_new_products_grids">
      <div
        class="col-md-3 agileinfo_new_products_grid"
        *ngFor="let product of productList"
      >
        <div class="agile_ecommerce_tab_left agileinfo_new_products_grid1">
          <div class="hs-wrapper">
            <img [src]="product.image" alt=" " class="img-responsive" />
            <div class="w3_hs_bottom w3_hs_bottom_sub">
              <ul>
                <li>
                  <a href="#" data-toggle="modal" data-target="#myModal2"
                    ><span
                      class="glyphicon glyphicon-eye-open"
                      aria-hidden="true"
                    ></span
                  ></a>
                </li>
              </ul>
            </div>
          </div>
          <h5>
            <a routerLink="/urun/{{ product.id }}">{{ product.item_name }}</a>
          </h5>
          <div class="simpleCart_shelfItem">
            <p>
              <span *ngIf="product.discount_price">{{
                product.price | currency: "₺"
              }}</span>
              <i class="item_price" *ngIf="product.discount_price">{{
                product.discount_price | currency: "₺"
              }}</i>
              <i class="item_price" *ngIf="!product.discount_price">{{
                product.price | currency: "₺"
              }}</i>
            </p>
            <form action="#" method="post">
              <input type="hidden" name="cmd" value="_cart" />
              <input type="hidden" name="add" value="1" />
              <input type="hidden" name="w3ls_item" value="Red Laptop" />
              <input type="hidden" name="amount" [value]="product.price" />
              <button type="submit" class="w3ls-cart" (click)="addToCart(product)">Add to cart</button>
            </form>
          </div>
        </div>
      </div>

      <div class="clearfix"></div>
    </div>
  </div>
</div>
<!-- //new-products -->

<!-- TODO: removed calistigimiz markalar -->
